.champ{
    display: inline-block;
    width: 100%;
}
input{
    margin-bottom: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 22%;
}

button{
    background-color: royalblue;
    border-radius: 5px;
    padding: 10px;
    color: white;
}